extends ../admin/layout 

block content
    .card.bg-light-info.shadow-none.position-relative.overflow-hidden
        .card-body.px-4.py-3
            .row.align-items-center
                .col-9
                    h4.fw-semibold.mb-8 Add New Property
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href='#') Home
                            li.breadcrumb-item
                                a(href='/property/list') Properties
                            li.breadcrumb-item(aria-current='page') New
                .col-3
                    .text-center.mb-n5

    .row 
        .col-md-12
            .card.w-100.position-relative.overflow-hidden
                .card-body.p-4
                    h4.fw-semibold.mb-4 Property Details 

                    form(action='/property/new' method='post')
                        .form-group.mb-3
                            label.form-label Property Title 
                            input.form-control(name="title" type="text" required)
                        .form-group.mb-3 
                            label.form-label Description
                            textarea.form-control(name="description" type="text")

                        .form-group.mb-3.row
                            .col-md-6
                                label.form-label Category 
                                select.form-control(name="category" required)  
                                    option(value='') -- Category --
                                    option(value='fully built') Fully built 
                                    option(value='land') Land
                                    option(value='uncompleted') Uncompleted
                            .col-md-6
                                label.form-label Currently Occupied 
                                select.form-control(name="occupied")  
                                    option(value='0') No 
                                    option(value='1') Yes
                        .form-group.mb-3.row 
                            .col-md-6
                                label.form-label Bedrooms 
                                select.form-control(name="bedrooms" required)  
                                    option(value='') -- No of Bedrooms --
                                    option(value='1') 1 
                                    option(value='2') 2
                                    option(value='3') 3
                                    option(value='4') 4
                                    option(value='5') 5
                                    option(value='6') 6
                                    option(value='7') 7
                            .col-md-6
                                label.form-label Toilets 
                                select.form-control(name="toilets" required)  
                                    option(value='') -- No of Toilets --
                                    option(value='1') 1 
                                    option(value='2') 2
                                    option(value='3') 3
                                    option(value='4') 4
                                    option(value='5') 5
                                    option(value='6') 6
                                    option(value='7') 7

                        .form-group.mb-3.row
                            .col-md-6
                                label.form-label Age (months)
                                input.form-control(name="age" type='number')  

                            .col-md-6
                                label.form-label Asking Price 
                                input.form-control(name="cost" type='text' required)  

                        .form-group.mb-4.row
                            .col-md-6
                                label.form-label State 
                                select.form-control#state(name="state" required)  
                                    option(value='') -- State --
                                    each state in states 
                                        option(value=`${state.slug}`)= state.name

                            .col-md-6
                                label.form-label City 
                                select.form-control#city(name="city")  
                                    option(value='') -- City --

                        .form-group.mb-4.row
                            .col-md-6
                                label.form-label Available Units 
                                input.form-control(type='number' name="available_units" value='1' required)  
                            .col-md-6
                                label.form-label Plot Size 
                                input.form-control(name="plot_size" type='text')  

                        .form-group.mb-4.row
                            .col-md-6
                                label.form-label Closest Landmark 
                                input.form-control(type='text' name="closest_landmark")  
                            .col-md-6
                                label.form-label Garage/Parking Space
                                input.form-control(name="garage" type='text')  

                        .form-group.mb-4.row
                            .col-md-6
                                label.form-label Longitude
                                input.form-control(type='text' name="longitude")  
                            .col-md-6
                                label.form-label Latitude 
                                input.form-control(name="latitude" type='text')  

                        .mb-3 
                            button.btn.btn-primary.float-end(type='submit') Save Property


        //- .col-md-5 
        //-     .card.w-100.position-relative.overflow-hidden
        //-         .card-body.p-4
        //-             h4.fw-semibold.mb-4 Property Photos 

block scriptBlock
    script. 

        let state;
        document.getElementById('state').addEventListener('change', async function() {
            state = this.value;
            const resp = await fetch('/cities?state=' + state);
            const cities = await resp.json();
            let opts = "<option value=''>-- City --</option>";
            opts += cities.data.cities.map(city => `<option value=${city}>${city}</option>`);
            document.getElementById('city').innerHTML = opts;
        });
