[Unit]
Description=Node.js VEXPRESS Service   	#vexpress-server service
After=network.target
Requires=After=mysql.service       # Requires the mysql service to run first

[Service]
WorkingDirectory=/home/ubuntu/vexpress
ExecStart=npm start
Restart=on-failure

Environment=NODE_ENV=development PORT=4000 DB_USER=chibuzo DB_PASSWORD=my+s3cretDb# DB_HOST=localhost DB_NAME=vexpress


[Install]
WantedBy=multi-user.target

#sudo nano /lib/systemd/system/vexpress.service
#sudo systemctl daemon-reload
#sudo systemctl enable farm