extends layout 

block styleBlock 
    style. 
        .section-content {
            padding: 60px 10px;
            text-align: center;
        }

        .section-content p {
            font-size: 16px;
        }

block content
    section.page-top-section.set-bg(data-setbg='/img/page-top-bg.jpg')
        .container.text-white
            h2 About Qandos

    .site-breadcrumb
        .container
            a(href='')
                i.fa.fa-home
                | Home
            span
                i.fa.fa-angle-right
                | About

    section.page-section
        .container
            .row
                .col-md-6 
                    img(src='/img/about.jpg', alt='About Qandos')
                .col-lg-6.single-list-page
                    blockquote.blockquote 
                        footer.blockquote-footer Our Story: 
                    p We were once meeting with a friend who had migrated to Canada with his family, and he shared stories of how a lot of Nigerians in Diaspora had fallen victim to investment scams even in the hands of friends, family and relatives. This was mostly particular to real estate-related investments.

                    p When we dug deeper, we realized that one of the major factors deterring a lot of Africans in diaspora from investing back home was the unavailability of a trusted and reliable platform they can feel safe with when making those real estate investment decisions. 

                    p We then went ahead to help him and his friends acquire 9 plots of land in Abuja within the following 2 weeks and that was how  QANDOS’ journey began.

                    p Our team is made up of long-time friends who have shared experiences working together on previous ventures, bringing with them over 25 years of accumulated professional experience in legal practice, real estate investment, technology development and finance.

                    p Our focus is on fostering trustworthiness, transparency, and expertise in the Nigerian and African real estate market.


    section 
        .container-fluid(style='background-color: #f9f9f9;')
            .row 
                .col 
                    .section-content 
                        h3.mb-3 Mission and Vision: 
                        p Our Mission at QANDOS is to make real estate investment safe, easy, transparent and secure.
                            | We are working to see more Nigerians and Africans in Diaspora feel safe and secure about investing in real estate back home.
