doctype html
head
    // Title
    title V Express - #{title}
    // Required Meta Tag
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='handheldfriendly' content='true')
    meta(name='MobileOptimized' content='width')
    meta(name='description' content='Mordenize')
    meta(name='author' content='')
    meta(name='keywords' content='Mordenize')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    // Favicon
    link(rel='shortcut icon' type='image/png' href='/images/logos/favicon.png')
    // Core Css
    link#themeColors(rel='stylesheet' href='/css/style.min.css')
// Preloader
.preloader
    img.lds-ripple.img-fluid(src='/images/logos/favicon.png' alt='loader')
// Preloader
.preloader
    img.lds-ripple.img-fluid(src='/images/logos/favicon.png' alt='loader')
// Body Wrapper
#main-wrapper.page-wrapper(data-layout='vertical' data-sidebartype='full' data-sidebar-position='fixed' data-header-position='fixed')
    .position-relative.overflow-hidden.radial-gradient.min-vh-100
        .position-relative.z-index-5
            .row
                .col-xl-7.col-xxl-8
                    a.text-nowrap.logo-img.d-block.px-4.py-9.w-100(href='/')
                        img(src='/images/logo.png' width='180' alt='')
                    .d-none.d-xl-flex.align-items-center.justify-content-center(style='height: calc(100vh - 80px);')
                        img.img-fluid(src='https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/backgrounds/login-security.svg' alt='' width='500')
                .col-xl-5.col-xxl-4
                    .authentication-login.min-vh-100.bg-body.row.justify-content-center.align-items-center.p-4


                        block content 

// Import Js Files
script(src='/libs/jquery/dist/jquery.min.js')
script(src='/libs/simplebar/dist/simplebar.min.js')
script(src='/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
// core files
script(src='/js/app.min.js')
script(src='/js/app.init.js')
script(src='/js/app-style-switcher.js')
script(src='/js/sidebarmenu.js')
script(src='/js/custom.js')

block scriptBlock
