extends layout 

block content
    section.page-top-section.set-bg(data-setbg='/img/page-top-bg.jpg')
        .container.text-white
            h2 Contact Qandos

    .site-breadcrumb
        .container
            a(href='')
                i.fa.fa-home
                | Home
            span
                i.fa.fa-angle-right
                | Contact

    section.page-section.blog-page
        .container
            #map-canvas
            .contact-info-warp
                p
                    i.fa.fa-map-marker
                    | Plot 5, Kwaji Close, off Aguiyi Ironsi Street, FCT
                p
                    i.fa.fa-envelope
                    | #{_email}
                p
                    i.fa.fa-phone
                    | #{_phone}
            .row
                .col-lg-6
                    img(src='/img/contact.jpg' alt='')
                .col-lg-6
                    .contact-right
                        .section-title
                            h3 Get in touch
                        form.contact-form
                            .row
                                .col-md-6
                                    input(type='text' placeholder='Your name')
                                .col-md-6
                                    input(type='text' placeholder='Your email')
                                .col-md-12
                                    textarea(placeholder='Your message')
                                    button.site-btn SUMMIT NOW


block scriptBlock
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtOVoyu0Hwe2k_p0VYQCHx5Opwl75DM7s")
    script(src='/js/map.js')

