extends layout 

block styleBlock
    style.
        .content p {
            color: #132758;
            font-size: 1em;
        }

        .content h2 {
            color: #132758;
            font-size: 22px;
            margin-bottom: 1em;
        }

        .content ul {
            list-style-type: disc;
            margin-left: 2em;
        }

        .content li {
            color: #132758;
        }

block content
    section.page-top-section.set-bg(data-setbg='/img/page-top-bg.jpg')
        .container.text-white
            h2 Qandos for Nigerians in Diaspora

    .site-breadcrumb
        .container
            a(href='')
                i.fa.fa-home
                | Home
            span
                i.fa.fa-angle-right
                | Qandos in Diaspora

    section.page-section.blog-page
        .container
            .row 
                .col-md-8 
                    .content
                        section
                            h2 Why Invest in Nigeria?
                            p Investing in Nigerian real estate offers strong market growth potential, high rental yields, and long-term asset appreciation. It's a smart way to diversify your investments, with the added emotional value of owning property in your homeland. Real estate in Nigeria also provides a steady income stream, is more affordable due to favorable exchange rates, and allows you to support your family and community back home. Overall, it's a reliable and meaningful way to build wealth and stay connected to Nigeria.

                        section
                            h2 Remote Investment Services
                            p At QANDOS, our Key Objective is to make it safe and easy for Nigerians abroad to invest remotely.
                            p #[strong We do this through:]
                            ul
                                li Virtual tours
                                li Secure payment gateways that provide extra layers of security for your investment capital
                            br/
                        section
                            h2 Trust and Transparency
                            p We highly esteem the virtues of Trust and Transparency, and therefore have put in place security measures, like providing legal support for our clients, partnerships with local authorities, and escrow payment systems to foster a high level of integrity in all our dealings.

                        section
                            h2 Property Inspection
                            p Potential investors can schedule property visits/site inspection of the property.
                            p You can choose to have someone else represent you (preferably your lawyer or a trusted agent) if you can’t make it in person.
                            p We have also made provisions for Virtual tours.