extend layout 

block content
    section.page-top-section.set-bg(data-setbg='/img/page-top-bg.jpg')
        .container.text-white
            h2 How it Works

    .site-breadcrumb
        .container
            a(href='')
                i.fa.fa-home
                | Home
            span
                i.fa.fa-angle-right
                | How it Works

    section.feature-section.spad
        .container
            .section-title.text-center
                h3 How it Works
            .row