extend auth-layout.pug

block content 

    if newUser 

        .alert.alert-success.text-center.mt-4
            i.fa.fa-check-circle.fa-4x
            p Thank you for signing up with Qandos. 
                br/ A mail has been sent to you to verify your email address 
            p Secondly, your account may be unverified until we confirm your registration.
                br/ Don't worry, this process doesn't take long

        a.text-primary.fw-medium.ms-2(href='/login') Click here to Login
    else
        form(method="post" action="/signup?json=no")
            h4.mb-3.fw-normal PARTNER
            .form-floating.mb-3
                input#floatingInput.form-control(type='text' name="fullname" placeholder='Your name' required)
                label(for='floatingInput') Name
            .form-floating.mb-3 
                select.form-control(name="location" required)  
                    option(value='') -- State --
                        each state in states 
                            option(value=`${state.name}`)= state.name
                label.form-label State 
            
            .form-floating.mb-3
                input#floatingInput.form-control(type='email' name="email" placeholder='name@example.com' required)
                label(for='floatingInput') Email address
            .form-floating.mb-3
                input#floatingInput.form-control(type='tel' name="phone" placeholder='Your phone number')
                label(for='floatingInput') Phone
            .form-floating.mb-3
                input#floatingPassword.form-control(type='password' name="password" placeholder='Password' required)
                label(for='floatingPassword') Password
                input(type='hidden' name='role' value='partner')
            
            button.w-100.btn.btn-lg.btn-primary.mb-3(type='submit') Sign Up
            p Already have an account? <a href='/login'>Login</a>
            p.mt-5.mb-3.text-muted Qandos &copy; 
                script.
                    document.write(new Date().getFullYear());

             
            
                