extends layout 

block content
    .container-fluid.primary-bg.mt-5
        .row
            .col.text-center
                h3.pt-4.mt-3 Reset Your Password
                p Create a new password

        .row.mb-5 
            .col
                .container
                    .row.justify-content-md-center
                        .col-md-6.col-sm-12.col-xs-12.mt-4
                            form(action="/reset-password" method="post")
                                .row
                                    .col.mb-3.pe-md-4.ps-md-5
                                        input.form-control.form-control-lg(type="password" name="password" id="password" placeholder="Enter new password" aria-label="Password")
                                .row    
                                    .col.mb-3.pe-md-4.ps-md-5
                                        input.form-control.form-control-lg(type="password" id="verify-password" placeholder="Confirm password" aria-label="Password")
                                .row.gy-2
                                    .col.d-grid.pe-md-4.ps-md-5
                                        button.btn.btn-success.btn-lg.btn-block(type="submit") Change Password           
                    .row 
                        .col.text-center 
                            br/ <br>
                            p.title 
                                a(href="/login") Go back to login
                            br/ 


    script. 
        const password = document.querySelector("#password").value;
        const confirm_password = document.querySelector("#confirm_password").value;

        if (password != confirm_password) {
            e.preventDefault();
            alert("Paswword doesn't match!");
            document.querySelector("#confirm_password").focus();
        }
        return false;