extends auth-layout 

block content
    .container-fluid
        .row
            .col.text-center
                h3.pt-4.mt-3 Create a new password
                p Password should be at least 8 characters long

    form(method="post" action="/reset-password")#reset-password-form
        .form-floating.mb-3
            input.form-control(type='password' name="password" id="password" placeholder='Enter new Password' required)
            label(for='floatingPassword') Enter new Password

        .form-floating.mb-3
            input.form-control(type='password' id="confirm_password" placeholder='Confirm Password' required)
            label(for='') Confirm Password #{account_status}

        if (account_status == 'inactive') 
            .form-check.mb-3 
                input#flexCheckDefault.form-check-input(type='checkbox' name='newsletter' checked)
                label.form-check-label(for='flexCheckDefault') I want to receive updates and promotions from Qandos


        button.w-100.btn.btn-lg.btn-primary.mb-3(type='submit') Set Password
        p 
            <a href='/login'>Go back to login</a>
        p.mt-5.mb-3.text-muted Qandos &copy; 
            script.
                document.write(new Date().getFullYear());

block scriptBlock
    script. 
        const form = document.querySelector("#reset-password-form");

        form.addEventListener('submit', (e) => {
            const password = document.querySelector("#password").value;
            const confirm_password = document.querySelector("#confirm_password").value;
            if (password != confirm_password) {
                e.preventDefault();
                alert("Paswword doesn't match!");
                document.querySelector("#confirm_password").focus();
            }
        });
