extend auth-layout.pug

block content 

    .alert.alert-info.text-center.mt-4
        i.fa.fa-check-circle.fa-4x
        p Your email address has been successfully unsubscribed from our mailing list.


    a.text-primary.fw-medium.ms-2(href='/property/browse') Browse Properties



