extends ../auth-layout

block content
    .col-md-12
        .container-fluid.primary-bg
            .row.pt-4.mt-3
                .col-md-12.text-center
                    h3.mt-5 Email Verification Status

            .row.mb-5
                .col-md-12.text-center
                    if user_status === 'inactive'
                        .alert.alert-info.text-center.mt-4

                            | Your account is inactive. 
                            br/ 
                            | You need to click the verify email button in the email sent to you or 
                            | click on the button below to resend the verification email

                        a.btn.btn-primary(href="#" onclick="resendEmail()") Resend Verification Email
                        p.mt-4   
                            a(href='/login') Login
                    else
                        .alert.alert-success.text-center.mt-4

                            | You have verified your email address! 
                            br/ 

                        br
                        a.btn.btn-primary(href="/login") Click to Login

block scriptBlock
    script. 
        function resendEmail() {
            fetch('/resend-verification-email').then(res => {
                console.log(res)
                if (res.status === 200) {
                    alert('Email sent successfully');
                } else {
                    alert('An error occurred. Please try again later');
                }
            });
        }