doctype html
head
    // Title
    title Qandos Admin
    // Required Meta Tag
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='handheldfriendly' content='true')
    meta(name='MobileOptimized' content='width')
    meta(name='description' content='Qandos')
    meta(name='author' content='')
    meta(name='keywords' content='Qandos')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    // Favicon
    link(rel='shortcut icon' type='image/png' href='/images/logos/favicon.png')
    // Core Css
    link#themeColors(rel='stylesheet' href='/css/style.min.css')
    style. 
        .fw-semibold {
            font-weight: 400!important;
            font-size: 1.25rem;
        }

        .photo { height: 169px; background-size: cover }

    block styleBlock

body
    // Preloader
    .preloader
        img.lds-ripple.img-fluid(src='/img/favicon.png' alt='loader')
    // Preloader
    .preloader
        img.lds-ripple.img-fluid(src='/img/favicon.png' alt='loader')
    // Body Wrapper
    #main-wrapper.page-wrapper(data-layout='vertical' data-sidebartype='full' data-sidebar-position='fixed' data-header-position='fixed')
        // Sidebar Start
        aside.left-sidebar
            // Sidebar scroll
            div
                .brand-logo.d-flex.align-items-center.justify-content-between.mb-4
                    a.text-nowrap.logo-img(href='/admin')
                         img.dark-logo(src='/img/logo-alt.png' width='200' style='margin-top:22px' alt='')
                         img.light-logo(src='/img/logo-alt.png' wdth='180' alt='')
                    #sidebarCollapse.close-btn.d-lg-none.d-block.sidebartoggler.cursor-pointer
                        i.ti.ti-x.fs-8
                // Sidebar navigation
                nav.sidebar-nav.scroll-sidebar(data-simplebar='')
                    ul#sidebarnav
                        //- li.sidebar-item
                        //-     a.sidebar-link(href='#/admin/dashboard' aria-expanded='false')
                        //-         span
                        //-             i.ti.ti-activity-heartbeat
                        //-         span.hide-menu Dashboard
                        li.sidebar-item
                            a.sidebar-link(href='/user/wishlist' aria-expanded='false')
                                span
                                    i.ti.ti-home
                                span.hide-menu Wishlist
                        li.sidebar-item
                            a.sidebar-link(href='/user/appointments' aria-expanded='false')
                                span
                                    i.ti.ti-calendar
                                span.hide-menu Appointments

                        li.sidebar-item
                            a.sidebar-link(href='/user/transactions' aria-expanded='false')
                                span
                                    i.ti.ti-file-text
                                span.hide-menu Transactions

                        li.sidebar-item
                            a.sidebar-link(href='/logout' aria-expanded='false')
                                span
                                    i.ti.ti-logout
                                span.hide-menu Logout
                //- .fixed-profile.p-3.bg-light-secondary.rounded.sidebar-ad.mt-3
                //-     .hstack.gap-3
                //-         .john-img
                //-             img.rounded-circle(src='/images/profile/user-6.jpg' width='40' height='40' alt='')
                //-         .john-title
                //-             h6.mb-0.fs-4.fw-semibold Mathew
                //-             span.fs-2.text-dark Designer
                //-         button.border-0.bg-transparent.text-primary.ms-auto(tabindex='0' type='button' aria-label='logout' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='logout')
                //-             i.ti.ti-power.fs-6
                // End Sidebar navigation
                // End Sidebar scroll
                // Sidebar End

        // Main wrapper
        .body-wrapper
            // Header Start
            header.app-header
                nav.navbar.navbar-expand-lg.navbar-light
                    ul.navbar-nav
                        li.nav-item
                            a#headerCollapse.nav-link.sidebartoggler.nav-icon-hover.ms-n3(href='javascript:void(0)')
                                i.ti.ti-menu-2
                    .d-block.d-lg-none
                        img.dark-logo(src='/img/logo-alt.png' width='250' alt='')
                    button.navbar-toggler.p-0.border-0(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                        span.p-2
                            i.ti.ti-dots.fs-7
                    #navbarNav.collapse.navbar-collapse.justify-content-end
                        .d-flex.align-items-center.justify-content-between
                            a.nav-link.d-flex.d-lg-none.align-items-center.justify-content-center(href='javascript:void(0)' type='button' data-bs-toggle='offcanvas' data-bs-target='#mobilenavbar' aria-controls='offcanvasWithBothOptions')
                                i.ti.ti-align-justified.fs-7
                            

            // Header End
            .container-fluid
                block content 


// Import Js Files
script(src='/libs/jquery/dist/jquery.min.js')
script(src='/libs/simplebar/dist/simplebar.min.js')
script(src='/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
// core files
script(src='/js/app.min.js')
script(src='/js/app.init.js')
script(src='/js/app-style-switcher.js')
script(src='/js/sidebarmenu.js')
script(src='/js/custom.js')

script. 

block scriptBlock
